@model ReportesWH.Models.siixsem_users_t

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>siixsem_users_t</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.se_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.se_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.se_pass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.se_pass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.se_id_rol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.se_id_rol)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.se_id_user }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
