<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reportes Warehouse</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <center>
        <div class="navbar navbar-light" style="background-color: #00bfff; width: 66%;">
            <div class="container">
                <div class="navbar-header">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="color:ghostwhite">
                        <li><img src="~/Content/Images/siix_logo.png" width="110" height="45" /></li>
                        <li>@Html.ActionLink("Reportes Warehouse", "Index", "Home", new { area = "" }, new { @class = "navbar-btn" })</li>
                    </ul>
                    <input type="button" value="Cerrar Sesion" id="log_out" class="navbar-btn" style="float:right;" />
                </div>
            </div>
        </div>
    </center>
    <div class="container body-content">
        @RenderBody()
        
        <footer style="position:fixed; left:auto; bottom:0;">
            <center><hr style="width:75%;"/></center>
            <p>&copy; @DateTime.Now.Year - SIIX SEM</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
